body {
    background-image: url("pattern.svg");
    font-family: 'Poppins';
    font-size: 20px;
}

.container {
    width: 800px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: auto;
    padding-left: 10px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px gray;
}

.container h1 {
    text-align: center;
    text-decoration: underline;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 750px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: auto;
    width: 600px;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    border-radius: 10px;
}